<%= render "application/header" %>
<div class="py-6 lg:px-12 max-lg:px-6 grid lg:grid-cols-search max-lg:grid-rows-1 gap-8">
  <div>
    <%= form_with url: "/search", method: :get, class: "grid gap-x-1 lg:grid-cols-[minmax(0,_1fr)_92px] max-lg:grid-cols-[minmax(0,_0.5fr)_92px] max-md:grid-cols-[minmax(0,_1fr)_92px]" do |form| %>
      <%= form.text_field :q, value: @q, class: "rounded dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" %>
      <%= form.submit "Search", name: nil, class: "btn btn-blue cursor-pointer" %>
    <% end %>
  </div>
  <div class="grid grid-rows-1 gap-y-6">
    <%= "検索結果がありません。" if @search_results.empty? %>
    <% @search_results.each do |search_result| %>
      <div class="grid lg:grid-cols-[320px_1fr] max-lg:grid-rows-1 gap-x-3 text-slate-800 dark:text-slate-200">
        <div>
          <%= image_tag search_result[:video].thumbnails["medium"]["url"], class: "rounded" %>
        </div>
        <div class="p-2">
          <p class="block pb-2 lg:text-xl max-lg:text-lg font-semibold">
            <%= search_result[:video].title %>
          </p>
          <p>
            <%= search_result[:video].channel.title %>
          </p>
          <p class="pb-1">
            公開日: <%= l search_result[:video].published_at %>
          </p>
          <%= link_to({ controller: "videos", action: "show", video_id: search_result[:video].video_id, q: @q }, class: "text-blue-600 dark:text-blue-400 hover:underline") do %>
            コメント数: <%= search_result[:count] %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @paginatable_array %>
  </div>
</div>
