<%= render "application/header" %>
<div class="py-6 px-12 grid md:grid-cols-search max-md:grid-rows-1 gap-8">
  <div>
    <%= form_with url: "/search", method: :get do |form| %>
      <%= form.text_field :q, value: @q, class: "rounded dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" %>
      <%= form.submit "Search", name: nil, class: "btn btn-blue" %>
    <% end %>
  </div>
  <div>
  <%= "検索結果がありません。" if @search_results.empty? %>
  <% @search_results.each do |search_result| %>
    <ul>
      <li>
        <div class="relative flex text-slate-800 dark:text-slate-200 flex-row pb-6">
          <div class="relative m-0 overflow-hidden shrink-0">
            <%= image_tag search_result[:video].thumbnails["medium"]["url"], class: "rounded" %>
          </div>
        <div class="p-2">
          <p class="block pb-2 text-xl font-semibold">
            <%= search_result[:video].title %>
          </p>
          <p>
            <%= search_result[:video].channel.title %>
          </p>
          <p class="pb-1">
            公開日: <%= l search_result[:video].published_at %>
          </p>
          <%= link_to({ controller: "videos", action: "show", video_id: search_result[:video].video_id, q: @q }, class: "text-blue-600 dark:text-blue-400 hover:underline") do %>
            コメント数: <%= search_result[:count] %>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= paginate @paginatable_array %>
  </div>
</div>
