<div class="p-6">
  <table class="text-gray-600 dark:text-gray-400">
    <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-6 py-3">Video ID</th>
        <th class="px-6 py-3">state</th>
        <th class="px-6 py-3">Retry Count</th>
        <th class="px-6 py-3">Created At</th>
        <th class="px-6 py-3">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4"><%= job.video_id %></td>
          <td class="px-6 py-4"><%= job.state %></td>
          <td class="px-6 py-4"><%= job.retry_count %></td>
          <td class="px-6 py-4"><%= job.created_at %></td>
          <td class="px-6 py-4"><%= job.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="py-6">
    <%= paginate @jobs %>
  </div>
</div>
