<div class="p-6">
  <div class="pt-2 pb-4" data-controller="job-filter">
    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
    <%= select(
      "",
      "state",
      Job.states,
      {
        include_blank: "",
        selected: @state
      },
      class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
      data: {
        action: "change->job-filter#onChangeState"
      }
    ) %>
  </div>
  <table class="text-sm text-left text-gray-600 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-6 py-3">ID</th>
        <th class="px-6 py-3">Video ID</th>
        <th class="px-6 py-3">state</th>
        <th class="px-6 py-3">Retry Count</th>
        <th class="px-6 py-3">Created At</th>
        <th class="px-6 py-3">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4"><%= job.id %></td>
          <td class="px-6 py-4"><%= job.video_id %></td>
          <td class="px-6 py-4"><%= job.state %></td>
          <td class="px-6 py-4"><%= job.retry_count %></td>
          <td class="px-6 py-4"><%= l job.created_at %></td>
          <td class="px-6 py-4"><%= l job.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="py-6">
    <%= paginate @jobs %>
  </div>
</div>
