<%= render "application/header" %>
<div class="py-6 lg:px-12 max-lg:px-6 flex max-lg:flex-col text-slate-800 dark:text-slate-200">
  <div class="pr-4 lg:min-w-[480px] lg:max-w-[580px] max-lg:max-w-[480px]">
    <p class="block pb-2 text-base ">
      <%= @video.title %>
    </p>
    <%= image_tag @video.thumbnails["medium"]["url"], class: "rounded" %>
    <p class="pt-3 text-gray-600 dark:text-gray-400">
      <%= @video.channel.title %>
    </p>
    <p class="text-gray-600 dark:text-gray-400">
      公開日: <%= l @video.published_at %>
    </p>
  </div>
  <div class="flex flex-col max-lg:pt-6">
    <div class="grid grid-cols-message gap-x-3 gap-y-0.5 auto-rows-max">
      <% @messages.each do |message| %>
        <div class="text-right font-mono">
          <%= link_to(youtube_video_url(@video.video_id, message.video_offset_time_msec), class: "text-blue-600 dark:text-blue-400 hover:underline") do %>
            <%= message.timestamp_text %>
          <% end %>
        </div>
        <div>
          <%= message.message %>
        </div>
      <% end %>
    </div>
    <div></div>
    <div class="pt-6">
      <%= paginate @paginatable_array, :first => nil, :last => nil %>
    </div>
  </div>
</div>
