<p class="p-4"><%= link_to "Holohato", root_path %></p>
<div class="p-4 grid grid-cols-video gap-8">
  <div>
    <p class="block pb-2 text-base">
      <%= @video.title %>
    </p>
    <%= image_tag @video.thumbnails["medium"]["url"], class: "rounded" %>
    <p class="pt-3">
      <%= @video.channel.title %>
    </p>
    <p>
      公開日: <%= l @video.published_at %>
    </p>
  </div>
  <div class="grid grid-cols-message gap-x-3 gap-y-0.5 auto-rows-max">
    <% @messages.each do |message| %>
      <div>
        <%= link_to(youtube_video_url(@video.video_id, message.video_offset_time_msec), class: "text-blue-600 hover:underline") do %>
          <%= message.timestamp_text %>
        <% end %>
      </div>
      <div>
        <%= message.message %>
      </div>
    <% end %>
  </div>
  <div></div>
  <div>
    <%= paginate @paginatable_array %>
  </div>
</div>
