<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? page_title(yield(:page_title)) : "Holohato" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "layouts/dark_mode_check" %>
  </head>

  <body class="bg-neutral-50 dark:bg-slate-950">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
